.landing-page {
  background: linear-gradient(135deg, #F0E5D8 0%, #D3E9D7 100%);
  color: #2F4F4F;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tagline {
  color: #A4C3B2;
}

.btn-primary {
  background-color: #A4C3B2;
  color: #2F4F4F;
}

.btn-primary:hover {
  background-color: #D3E9D7;
  color: #2F4F4F;
}

.btn-outline-secondary {
  border: 2px solid #A4C3B2;
  color: #A4C3B2;
}

.btn-outline-secondary:hover {
  background-color: #A4C3B2;
  color: #2F4F4F;
}
  