Flask==2.2.3
Flask-Cors==5.0.0
Flask-Excel==0.0.7
Flask-Login==0.6.2
Flask-Principal==0.4.0
Flask-RESTful==0.3.10
Flask-Security-Too==5.1.2
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
Flask-Bcrypt==1.0.1
Jinja2==3.1.2
SQLAlchemy==2.0.6
Werkzeug==2.2.3
WTForms==3.0.1
zipp==3.15.0
Flask-JWT-Extended==4.6.0
pytest==8.3.3
cohere==5.13.0

